.page-navigation {
  width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.page-title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  margin: 20px 0;
}

.link {
  text-decoration: none;
  width: 200px;
  height: 62px;
}

.menu-navigation {
  display: flex;
  justify-content: center;
  background-color: #35444f;
}

.item {
  padding: 0 15px;
}

.item-ramda:hover {
  background-color: #222F3A;
}
.menu-navigation > div {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  height: 70px;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  width: 1280px;
  margin: 40px auto;
  justify-content: space-between;
}

.left-menu-page {
  border: 1px solid #000000;
  height: 300px;
}

.list-menu {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 27px;
  line-height: 60px;
  display: flex;
  flex-direction: column;
  color: #495863;
}

.ramba {
  margin-left: 30px;
}

.why-ramba {
  width: 342px;
  text-align: center;
}

.why-ramba:hover {
  background-color: #dbdbdb;
  color: #000000;
}

.right-menu-page {
  margin: 0 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 885px;
}

.img-content {
  border: 1px solid #000;
  padding: 40px 300px;
}

.content-list {
  width: 965px;
  font-family: 'Roboto';
  font-weight: 400;
font-size: 18px;
line-height: 24px;
}

.text-content {
  margin: 20px;
  height: 115px;
}

.footer {
  font-family: 'Roboto';
  font-weight: 400;
  margin: 0 auto;
  background-color: #b8bdc1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 1280px;
  height: 70px;
  font-size: 28px;
 
}

.nav-footer-list {
  width: 875px;
  display: flex;
  justify-content: space-between;
  color: #010101;
  padding-left: 40px;
}

.element-footer:hover {
  color: #0da0e4;
  text-decoration: underline;
}

.copy-old {
  margin: 30px;
}
